<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.markety.platform.dto.UserDto" alias="UserDto" />
        <typeAlias type="com.markety.platform.dto.BoardDto" alias="BoardDto" />
        <typeAlias type="com.markety.platform.dto.BoardAttachDto" alias="BoardAttachDto" />
        <typeAlias type="com.markety.platform.dto.RoleDto" alias="RoleDto" />

    </typeAliases>

    <mappers>
        <mapper resource="com/markety/platform/mapper/UserMapper.xml" />
        <mapper resource="com/markety/platform/mapper/BoardMapper.xml" />
        <mapper resource="com/markety/platform/mapper/AccountMapper.xml" />
    </mappers>

</configuration>