<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.markety.platform.mapper.UserMapper">

    <select id="findAll" resultType="UserDto">
        SELECT
            id, user_name, password, nickname, phone, address, latitude, longitude, created_at, type, active
        FROM
            user
    </select>

    <select id="findByUserId" parameterType="long" resultType="UserDto">
        SELECT
            id, user_name, password, nickname, phone, address, latitude, longitude, created_at, type, active
        FROM
            user
        WHERE
            id = #{ userId }
    </select>

    <select id="findByUserName" parameterType="String" resultType="UserDto">
        SELECT
            id, user_name, password, nickname, phone, address, latitude, longitude, created_at, type, active
        FROM
            user
        WHERE
            user_name = #{ userName }
    </select>

    <insert id="insertUserRole" parameterType="hashMap">
        INSERT INTO user_role
            (role_id, user_id, role_name, role_desc)
        VALUES
            (#{ roleId }, #{ userId }, #{ roleName }, #{ roleName })
    </insert>

    <insert id="insertUser" parameterType="UserDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
            (user_name, password, phone, address, latitude, longitude, nickName, type)
        VALUES
            (#{ userName }, #{ password }, #{ phone }, #{ latitude }, #{ longitude } #{ nickName }, #{ type })
    </insert>

    <update id="updateUser" parameterType="UserDto">
        UPDATE user
        SET
            password = #{ password }
        WHERE
            userId = #{ userId }
    </update>

    <delete id="deleteUser" parameterType="long">
        DELETE FROM user
        WHERE
            userId = #{ userId }
    </delete>


</mapper>